# ============================================
# DATABASE
# ============================================
DATABASE_URL="postgresql://neondb_owner:mode=require"

# ============================================
# REDIS
# ============================================
REDIS_URL="redis://:oxycure_redis_2026@localhost:6379"

# ============================================
# API (NestJS) — apps/api/.env
# ============================================
NODE_ENV=development
PORT=3001

# JWT
JWT_SECRET=fZ/fnGWXv/+ikgG6fFNctctTmX93RmxNjfq7C7oBKg7o9yaP14PddbrsIs76PQBhkYOd8d73dkQw+ahmEkF4yg==
JWT_EXPIRY=15m
JWT_REFRESH_SECRET=83FAqxSrZBtn4LALE0FVghnO22r6WsDoZMuWJRUCz/D+EgSMoP9meb1Nv/72wxDj/5QB8i5pioU3cyeGE5HJUw==
JWT_REFRESH_EXPIRY=7d

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# ============================================
# WEB (Next.js) — apps/web/.env.local
# ============================================
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXTAUTH_SECRET=9lUBWlVzuvNdqe6KJj0DGbQmqzqn7z4Bfx0RHryZ0t8=
NEXTAUTH_URL=http://localhost:3000
